<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="learn javascript by www.liaoxuefeng.com">
    <title>{{ title }}</title>
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
    <script>
        $(function () {
            var vm = new Vue({
                el: '#vm',
                data: {
                    title: '',
                    todoList: [],
                    list: '/api/v1/todos',
                    create: '/api/v1/todos',
                },
                ready: function () {
                    // this.getTodoList();
                },
                created: function () {
                    this.getTodoList();
                },
                methods: {
                    getTodoList: function () {
                        var vm = this;
                        this.$http.get(this.list)
                            .then((response) => {
                                response.json()
                                    .then((result) => {
                                        vm.title = result.title;
                                        vm.todoList = result.todoList;
                                    }, (response) => {
                                        alert('请求失败');
                                    })
                            });
                    },
                    createTodo: function (todo) {
                        var vm = this;
                        this.$http.post(this.create, todo)
                            .then((response) => {
                                response.json()
                                    .then((result) => {
                                        console.log(result);
                                        if (result.code === 1) {
                                            vm.todoList.push(result.todo);
                                        }
                                    }, (response) => {
                                        alert('请求失败');
                                    })
                            })
                    }
                }
            })

            // 新建待办事项 
            var vmAdd = new Vue({
                el: '#vmAdd',
                data: {
                    title: '',
                    description: ''
                },
                methods: {
                    submit: function () {
                        vm.createTodo(this.$data);
                    }
                }
            });
        });
    </script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="vm">
                    <h3 v-text="title"></h3>
                    <ol>
                        <li v-for="t in todoList">
                            <dl>
                                <dt v-text="t.title"></dt>
                                <dd v-text="t.description"></dd>
                                <dd>
                                    <a href="#0" v-on:click="remove(todo)">Delete</a>
                                </dd>
                            </dl>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="col-md-6">
                <div id="vm-create">
                    <h3>新建待办事项</h3>
                    <form id="vmAdd" action="#0" v-on:submit.prevent="submit">
                        <div class="form-group">
                            <label>Title</label>
                            <input type="text" v-model="title" class="form-control" placeholder="Title">
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <input type="text" v-model="description" class="form-control" placeholder="Description">
                        </div>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

<footer>

</footer>

</html>