<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="learn javascript by www.liaoxuefeng.com">
    <title>{{ title }}</title>
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/vue.js"></script>
    <script>
        $(function () {

            // 绑定列表
            var vm = new Vue({
                el: '#vm',
                data: {
                    todoList: [],
                    url: '/api/v1/todos/'
                },
                created: function () {
                    // 初始化时加载列表
                    this.getTodoList();
                },
                methods: {
                    getTodoList: function () {
                        var vm = this;
                        $.ajax({
                            type: 'get',
                            dataType: 'json',
                            url: vm.url
                        }).done(function (response) {
                            vm.todoList = response.todoList;
                        }).fail(function (response) {
                            alert(response.responseJSON.message);
                        });
                    },
                    createTodo: function (todo) {
                        var vm = this;
                        $.ajax({
                            type: 'post',
                            dataType: 'json',
                            data: todo,
                            url: vm.url
                        }).done(function (response) {
                            vm.todoList.splice(0, 0, response.todo);
                            vmAdd.title = '';
                            vmAdd.description = '';
                        }).fail(function (response) {
                            alert(response.responseJSON.message);
                        });
                    },
                    updateTodo: function (todo) {
                        var vm = this;
                        $.ajax({
                            type: 'put',
                            dataType: 'json',
                            data: todo,
                            url: vm.url + todo.id
                        }).done(function (response) {
                            for (let i = 0; i < vm.todoList.length; i++) {
                                if (vm.todoList[i].id === response.todo.id) {
                                    vm.todoList.splice(i, 1, response.todo);
                                }
                            }
                        }).fail(function (response) {
                            alert(response.responseJSON.message);
                        })
                    },
                    deleteTodo: function (id) {
                        var vm = this;
                        $.ajax({
                            type: 'delete',
                            dataType: 'json',
                            url: vm.url + id
                        }).done(function (response) {
                            for (let i = 0; i < vm.todoList.length; i++) {
                                if (vm.todoList[i].id === id) {
                                    vm.todoList.splice(i, 1);
                                }
                            }
                        }).fail(function (response) {
                            alert(response.responseJSON.message);
                        });
                    }
                }
            })

            // 绑定新建待办事项 form 表单 
            var vmAdd = new Vue({
                el: '#vmAdd',
                data: {
                    title: '',
                    description: ''
                },
                methods: {
                    submit: function () {
                        vm.createTodo(this.$data);
                    }
                }
            });
        });
    </script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="vm">
                    <h3>待办事项列表</h3>
                    <ol>
                        <li v-for="t in todoList">
                            <dl>
                                <dt v-text="t.title"></dt>
                                <dd v-text="t.description"></dd>
                                <dd>
                                    <a href="#0" v-on:click="deleteTodo(t.id)">Delete</a>
                                </dd>
                            </dl>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="col-md-6">
                <h3>新建待办事项</h3>
                <form id="vmAdd" action="#0" v-on:submit.prevent="submit">
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" v-model="title" class="form-control" placeholder="Title">
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea rows="10" v-model="description" class="form-control" placeholder="Description"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Create</button>
                </form>
            </div>
        </div>
    </div>
</body>

<footer>

</footer>

</html>